<div class="row">
    <div class="form-group">
        <label style=" color:black;">Tin gốc: <label>lo chan le x10</label></label>
        </br>

        <label style=" color:green;">Tin cược: <label>l&ocirc;
                01,03,05,07,09,21,23,25,27,29,41,43,45,47,49,61,63,65,67,69,81,83,85,87,89, x10d </label></label>
        </br>




        <label>Lưu ý giá cược có thể thay đổi. Hãy kiểm tra lại sau khi cược.</label>
        <a href="https://loto79.net/quickplayhistory/1" name=""
            style="    float: right;color: #71b8ff;text-decoration: underline !important;" target="_blank">Tra cứu cược
            nhanh tại đây</a>
        <table class="table table-bordered mails m-0 table-actions-bar table-striped table-hover"
            style="font-size: 12px !important;">
            <thead>
                <tr>
                    <th>STT</th>
                    <!-- <th>Đài</th> -->
                    <th>Thể loại</th>
                    <th>Số cược</th>
                    <th>Giá</th>
                    <th>Điểm</th>
                    <!-- <th>Thành tiền</th> -->
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>1</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>01</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>2</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>03</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>3</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>05</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>4</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>07</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>5</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>09</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>6</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>21</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>7</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>23</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>8</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>25</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>9</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>27</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>10</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>29</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>11</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>41</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>12</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>43</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>13</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>45</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>14</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>47</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>15</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>49</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>16</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>61</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>17</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>63</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>18</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>65</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>19</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>67</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>20</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>69</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>21</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>81</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>22</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>83</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>23</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>85</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>24</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>87</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>

                <tr>
                    <td>25</td>
                    <!-- <td>Miền Bắc</td> -->
                    <td>L&ocirc;</td>
                    <td>89</td>
                    <td>21,680</td>
                    <td>10</td>
                    <!-- <td>216,800</td> -->
                    <td>ok</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" class="text_right pr10">Tổng cộng: 5,420,000</td>
                    <!-- <td class="text_right pr10 suminvoice">5,420,000</td> -->
                </tr>
            </tfoot>
    </div>

</div>