<div id="kq">
    <table width="100%" class="tblTK tblKQ">
        <thead>
            <tr>
                <td>KỲ XỔ</td>
                <td class="hidden-xs">THỜI GIAN</td>
                <td colspan="10">BỘ SỐ</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">#024153<br></td>
                <td rowspan="2" class="hidden-xs">
                    <div>26/05/2020</div>
                    <div>09:50</div>
                </td>
                <td>02</td>
                <td>04</td>
                <td>06</td>
                <td>09</td>
                <td>16</td>
                <td>19</td>
                <td>25</td>
                <td>31</td>
                <td>37</td>
                <td>38</td>
            </tr>

            <tr>
                <td>45</td>
                <td>46</td>
                <td>53</td>
                <td>57</td>
                <td>64</td>
                <td>69</td>
                <td>71</td>
                <td>72</td>
                <td>74</td>
                <td>80</td>
            </tr>
            
            <tr>
                <td rowspan="2">#024152<br></td>
                <td rowspan="2" class="hidden-xs">
                    <div>26/05/2020</div>
                    <div>09:40</div>
                </td>
                <td>04</td>
                <td>06</td>
                <td>10</td>
                <td>15</td>
                <td>24</td>
                <td>25</td>
                <td>28</td>
                <td>35</td>
                <td>38</td>
                <td>45</td>
            </tr>
            <tr>
                <td>48</td>
                <td>54</td>
                <td>57</td>
                <td>66</td>
                <td>67</td>
                <td>70</td>
                <td>71</td>
                <td>77</td>
                <td>79</td>
                <td>80</td>
            </tr>
            <tr>
                <td rowspan="2">#024151<br></td>
                <td rowspan="2" class="hidden-xs">
                    <div>26/05/2020</div>
                    <div>09:30</div>
                </td>
                <td>05</td>
                <td>06</td>
                <td>11</td>
                <td>20</td>
                <td>25</td>
                <td>31</td>
                <td>33</td>
                <td>39</td>
                <td>42</td>
                <td>47</td>
            </tr>
            <tr>
                <td>50</td>
                <td>54</td>
                <td>59</td>
                <td>63</td>
                <td>64</td>
                <td>67</td>
                <td>72</td>
                <td>74</td>
                <td>75</td>
                <td>79</td>
            </tr>
            <tr>
                <td rowspan="2">#024150<br><span class="icKeno icChan"></span></td>
                <td rowspan="2" class="hidden-xs">
                    <div>26/05/2020</div>
                    <div>09:20</div>
                </td>
                <td>08</td>
                <td>12</td>
                <td>18</td>
                <td>26</td>
                <td>32</td>
                <td>36</td>
                <td>37</td>
                <td>38</td>
                <td>42</td>
                <td>44</td>
            </tr>
            <tr>
                <td>48</td>
                <td>49</td>
                <td>54</td>
                <td>59</td>
                <td>61</td>
                <td>74</td>
                <td>75</td>
                <td>76</td>
                <td>78</td>
                <td>79</td>
            </tr>
            <tr>
                <td rowspan="2">#024149<br></td>
                <td rowspan="2" class="hidden-xs">
                    <div>26/05/2020</div>
                    <div>09:10</div>
                </td>
                <td>03</td>
                <td>04</td>
                <td>05</td>
                <td>06</td>
                <td>10</td>
                <td>30</td>
                <td>33</td>
                <td>34</td>
                <td>38</td>
                <td>40</td>
            </tr>
            <tr>
                <td>46</td>
                <td>47</td>
                <td>49</td>
                <td>50</td>
                <td>51</td>
                <td>55</td>
                <td>60</td>
                <td>65</td>
                <td>67</td>
                <td>72</td>
            </tr>
            <tr>
                <td rowspan="2">#024148<br><span class="icKeno icLon"></span></td>
                <td rowspan="2" class="hidden-xs">
                    <div>26/05/2020</div>
                    <div>09:00</div>
                </td>
                <td>04</td>
                <td>05</td>
                <td>23</td>
                <td>30</td>
                <td>37</td>
                <td>38</td>
                <td>39</td>
                <td>41</td>
                <td>57</td>
                <td>58</td>
            </tr>
            <tr>
                <td>59</td>
                <td>61</td>
                <td>63</td>
                <td>67</td>
                <td>68</td>
                <td>70</td>
                <td>71</td>
                <td>73</td>
                <td>78</td>
                <td>80</td>
            </tr>
        </tbody>
    </table>
</div>