header{
  height:100px;
  .row{
    height: 100px;
  }
  #logo{
  }
  #login-box{
    float: right;
    width: 100%;
  }
}
.navbar{
  margin-bottom: 0px;
  border:none;
  .container{
    background: #b30404;
    text-transform: uppercase;
    font-weight: bold;
    a{
      color:#fff;
    }
  }
}